.prompt  {
    width: 300px;
    height: 500px;
    background: black;
    color: #FFA500;
}

input {
    display: block;
    margin: 10px;
}

.wordListWrapper {
    position: absolute;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 10%;

}
table, td, th{

   border: 1px solid black;
  }
th input {
    height: 1.5em;
}



.textbox {
    height:1.5em;
}
